.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;  /* garante 100% da largura */
    background: var(--cor-primaria);
    color: var(--cor-branca);
    padding: 1rem; /* fixo, ajusta conforme desejado */
    text-align: center;
}

.redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    text-align: center;
    margin:  4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.redes-sociais a:hover{
    color: var(--cor-branca);
}

